.blog_main{
    margin: 0;
    padding: 0;
    min-height: 400px;
    padding-top: 20px;
    background-color: #f5f5f5;
    font-family: 'Quicksand', sans-serif;
}
.path-trending{
    margin-left: 20px;
    display: flex;
    align-items: center;
    color: #868686;
    font-size: 16px;
}
.path-trending img{
    width: 17px;
}
.emptyCartDiv{
    text-align: center;
    height: 400px;
}
.emptyCartDiv img{
    margin-top: 30px;
    width: 200px;
}
#emptyCartH6{
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
    color: #868686;
}
.emptyCartDiv button{
    margin-top: 10px;
    padding: 10px 55px;
    background-color: #ec3f78;
    border: 0;
    border-radius: 5px;
}
.emptyCartDiv button a{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

#blog_main{
    width: 98%;
    /* height: 400px; */
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
     /* border: 1px solid black; */
}

#display{
    /* display:flex; */
     /* border: 1px solid black; */
    /* gap:120px; */
    width:60%;
    /* margin:auto; */
    margin-bottom: 20px;
    height: 50%;
}
.path-trending{
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    align-items: center;
    color: #868686;
    font-size: 16px;
}
.path-trending img{
    width: 17px;
}

.cartOrder_header{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;
    
}
.cartOrder_header p:last-child{
    text-decoration: underline;
}
.cartOrder{
    width: 50%;
    margin-top: 20px;
    margin-left: 30px;
}
.cartOrder_header h2{
    display: flex;
    margin-right: -19px;
}


.child{
    width: 100%;
    overflow: hidden;
    /* border: 1px solid black; */
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin: 10px;
   height: 50%;
}

.child img{
    object-fit: cover;
    width: 70px;
    height: 100%;
    border-radius: 3px;
}

.child_title{
    margin-top: 20px;

}
.priceT{
    margin-top: 20px;
    margin: auto;
}

.btn{
    height: 30%;
    margin: auto;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    height: 30px;
    width: 20%;
}
.cartPriceOffer_header{
    margin-left: 100%;
}

.child1{
    width: 40%;
    overflow: hidden;
    /* border: 1px solid black; */
    display: block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin: auto;
   height: 50%;
}
#details{
    margin: auto;
    width: 30%;
    height: 50%
}

#hw1{
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    height: 35px;
    width: 30%;
    margin-left: 40%;
    margin-top: 0%;
    padding: 10px;
}