body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'poppins', sans_serif;
    width:100vw;
}

#carousel {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.second_box_img>img {
    width: 90%;
    height: 302px;
    display: block;
    margin: auto;
    border-radius: 10px;

}

.third_box_video_div>iframe {
    display: block;
    margin: auto;
    border-radius: 10px;
}

#carousel img {
    width: 99%;
    height: 400px;
}

#carousel2 img {
    width: 90%;
    height: 302px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.twelth_box_div {
    margin-left: 60px;
    width: 1300px;

}

.twelth_box_div img {
    height: 330px;
    width: 595px;
    box-sizing: border-box;
    cursor: pointer;
}

.twelth_box_div img {
    border-radius: 10px;
}

#carousel3 img {
    width: 90%;
    height: 302px;
    display: block;
    margin: auto;
    border-radius: 10px;
}


.sixteenth_box_div {
    margin-left: 60px;
    border-radius: 10px;
}

.sixteenth_box_div img {
    width: 285px;
    height: 195px;
    cursor: pointer;
    margin-right: 29px;
    margin: auto;
    padding-left: 10px;
    border-radius: 10px;
}

.seventh_box>img {
    width: 90%;
    height: 308px;
    cursor: pointer;
    margin: auto;
    margin-left: 60px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

#lastbox {
    margin: auto;
    margin-left: 400px;
}

#lastbox button {
    background-color: black;
    color: white;

    height: 33px;
    margin-left:-4px;

}

#lastbox input {
    height: 30px;

}

input {

    width: 500px;
    height: 30px
}

.sixteenth_box_div1 {
    margin-left: 100px;
    border-radius: 10px;
}

.sixteenth_box_div1 img {
    width: 360px;
    height: 220px;
    cursor: pointer;
    margin-right: 29px;
    margin: auto;
    padding-left: 15px;
    border-radius: 10px;
}

.fourth_box_slide_div {
    display: flex;
    width: 90%;
    height: 370px;
    cursor: pointer;
    margin: auto;
    justify-content: space-evenly;


   
}
.fourth_box{
    background-color: #6610f2,  #0d6efd;;
}

}


.fourth_box_slide_div:hover .left,
.right {
    visibility: visible;
}

.fourth_box_slide_div:hover .right {
    visibility: visible;
}

.best_seller_products {

    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
    overflow: hidden;

    background-color:white;

}

.idiv {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-around;
}

.left,
.right {

    font-size: 50px;
    align-items: center;
    visibility: hidden;


}

.four_pro_div {
    width: 21%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.four_pro_div:hover {
    visibility: visible;
}



.pro_name {
    font-size: 13px;
    height: 40px;
    font-weight: bold;
    text-align: center;

    margin-top: 5px;
}

.pdiv {
    display: flex;
    align-items: center;
    margin-top: 3px;
    height: 20px;

    justify-content: center;
}

.text_tag {

    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    margin-top: 8px;
    background-color: #1f1f1f;
    color: aliceblue;

}

.ssprice_div {
    display: flex;
    height: 21px;
    font-weight: 500;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10px 0px 10px;
}

.stoffdiv {
    display: flex;

    text-decoration: line-through;
}





.thirteenth_box {
    display: flex;
    width: 95%;
    height: 360px;
    cursor: pointer;
    margin: auto;
    justify-content: space-evenly;
}

.ninth_box_slide_div,
.eleventh_box_slide_div,
.thirteenth_box_slide_div,
.fifteenth_box_slide_div {
    display: flex;
    width: 95%;
    height: 360px;
    cursor: pointer;
    margin: auto;
    justify-content: space-evenly;
}


.ninth_box {
    display: flex;
    width: 95%;
    height: 360px;
    cursor: pointer;
    margin: auto;
    justify-content: space-evenly;
}

.ninth_box img {
    display: block;

    height: 250px;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 20px;
}

.read_more {
    margin: auto;
    text-align: center;
}

