*{
    font-family: 'poppins',sans-serif;
}

#main_img_box{
    position: relative;
}

#old_image{
    position: relative;
    width:100%;
    filter: blur(5px);
}
#new_image{
    position: absolute;
    margin-left:-95%;
    margin-top:-5px;
    width:90%;
    height:320px
    
}
#text{
    border:1px solid white;
    height:60px;
}
#text>button{
    margin-top: 10px;
    width:100px;
    background-color: white;
    border:none;
}
#text>button>a{
    color:gray;
    text-decoration: none;
}

#body_box{
    background-color: #c4c4c4;
    /* border:1px solid black; */
    display: flex;
    gap:50px;
}
#categories{
    width:30%;
    margin-top: 10px;
}
#sort{
    /* border:1px solid black; */
    background-color: white;
    margin-bottom: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 20px;

}
#filter{
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#data_id{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin-bottom: 30px;
    
}
#data_id div{
    /* border:1px solid black; */
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    height:400px;
}
#data_id>div>img{
    /* border:1px solid red; */
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
#data_id>div>button{
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

/*------------------Dropdown menu---------------- */
#sort h3 .dropdown1{
    /* position: absolute; */
    right: 0;
    transition: 0.3s ease;
    margin-left: 60px;
 }

 .rotate{
     transform: rotate(180deg);
 }

 #sort h3{
    margin-left: 10px;
 }
 #sort .sort_menu{
    margin-left: 20px;
 }
 span{
     font-size: 16px;
     font-weight: 500;
 
 }
 

 /* ---------------------------- */
 #bottom_id{
    margin-top: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #f5f5f5;
    padding-bottom: 30px;
    padding-top: 30px;
 }
 input{
    width: 40%;
    font-size: 16px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: 1px solid;
}
#sub_btn{
    width: 9%;
    font-size: 16px;
    padding: 10px;
    margin-left: -5px;
    color: #fff;
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
}
/* ------------------------------- */
#filter>div{
     border: 1px solid lightgray;
     margin-top: 20px;
     padding: 10px;
     margin-bottom: 10px;
}

.data_box{
    /* border:1px solid black; */
    width:250px
}
#filter_details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#reset{
    color:magenta;
}

#filter .sort-btn .dropdown1{
    /* position: absolute; */
    right: 0;
    transition: 0.3s ease;
    margin-left: 60px;
 }

